In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
purchase_data_df = pd.read_json("purchase_data.json")
purchase_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
#Player Count

#Total Number of Players
total_players = purchase_data_df["Age"].count()

In [4]:
#Total Number of Players (Final):
player_count_summary = pd.DataFrame({"Total Number of Players": [total_players]})
player_count_summary

   Total Number of Players
0                      780

In [5]:
#Purchase Analysis (Total)

#Total Number of unique items
unique = purchase_data_df["Item Name"].nunique()

In [6]:
#Avg. Purchase Price
avg_purchase_price = purchase_data_df["Price"].mean()

In [7]:
def round2(number):
    rounded_number = round(number, 2)
    string = str(rounded_number)
    return string
avg_purchase_price2 = "$"+(round2(avg_purchase_price))

In [8]:
#Total Number of Purchases
total_purchases = purchase_data_df["SN"].count()

In [9]:
#Total Revenue
total_revenue = purchase_data_df["Price"].sum()

In [10]:
total_revenue2 = "$"+(round2(total_revenue))

In [11]:
purchasing_analysis_total = pd.DataFrame({"Total Number of Unique Items": [unique],
                              "Average Purchase Price": [(avg_purchase_price2)],
                              "Total Number of Purchases": [total_purchases],
                              "Total Revenue": [total_revenue2]})

In [12]:
#Purchase Analysis (Total) [Final]:
organized_purchase_analysis = purchasing_analysis_total[["Total Number of Unique Items", 
                                                         "Average Purchase Price", 
                                                         "Total Number of Purchases", 
                                                         "Total Revenue"]]
organized_purchase_analysis

,Total Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$2.93,780,$2286.33

In [13]:
#Gender Demographics:

#Percentage and Count of Male Players
genders = purchase_data_df["Gender"].value_counts()

In [14]:
gender_percent = (genders/total_players)*100
pd.options.display.float_format = '{:,.2f}%'.format

In [15]:
gender_demographics = pd.concat([gender_percent,genders], axis=1)

In [16]:
#Gender Demographics (Final):
gender_demographics.columns=['Percentage of Players','Total Count']
gender_demographics

                       Percentage of Players  Total Count
Male                                  81.15%          633
Female                                17.44%          136
Other / Non-Disclosed                  1.41%           11

In [17]:
#Purchasing Analysis (Gender)

gender_group = purchase_data_df.groupby('Gender')
gender_avg_purchases = gender_group['Price'].mean()
pd.options.display.float_format = '${:,.2f}'.format

In [18]:
gender_total_purchase_value = gender_group['Price'].sum()
pd.options.display.float_format = '${:,.2f}'.format

In [19]:
normalized_totals = gender_avg_purchases

In [20]:
#Purchasing Analysis (Gender) [Final]:

gender_purchase_analysis_final = pd.concat([genders,gender_avg_purchases,
                                            gender_total_purchase_value,
                                            normalized_totals], axis=1)

In [21]:
gender_purchase_analysis_final.columns=['Purchase Count',
                                        'Average Purchase Price',
                                        'Total Purchase Price',
                                        'Normalized Totals']
gender_purchase_analysis_final

,Purchase Count,Average Purchase Price,Total Purchase Price,Normalized Totals
Female,136,$2.82,$382.91,$2.82
Male,633,$2.95,"$1,867.68",$2.95
Other / Non-Disclosed,11,$3.25,$35.74,$3.25

In [22]:
#Age Demographics

bins = [0,10,14,19,24,29,34,39,100]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','34-39','40+']
age_demo = pd.cut(purchase_data_df['Age'], bins, labels=group_names)
age_demo_counts = age_demo.value_counts()

In [23]:
age_count_df = pd.DataFrame({"Total Counts": age_demo_counts})

In [24]:
age_percent = (age_demo_counts/total_players)*100
pd.options.display.float_format = '{:,.2f}%'.format

In [25]:
#Age Demo (% and Total Count)[Final]:

age_count_and_percent = pd.concat([age_percent,age_demo_counts], axis=1)

In [26]:
age_count_and_percent.columns=['Percentage of Players','Total Count']

In [27]:
age_count_and_percent.reindex(["<10","10-14","15-19","20-24","25-29","30-34","34-39","40+"])

       Percentage of Players  Total Count
<10                    4.10%           32
10-14                  3.97%           31
15-19                 17.05%          133
20-24                 43.08%          336
25-29                 16.03%          125
30-34                  8.21%           64
34-39                  5.38%           42
40+                    2.18%           17

In [28]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df['Age'], bins, labels=group_names)
pd.options.display.float_format = '{:,.2f}'.format

In [29]:
age_avg_price = purchase_data_df.groupby("Age Group")
pd.options.display.float_format = '${:,.2f}'.format
age_average_final = age_avg_price['Price'].mean()

In [30]:
age_total_price = purchase_data_df.groupby("Age Group")
age_total_price_final = age_total_price['Price'].sum()

In [31]:
age_normalized = age_average_final

In [32]:
#Purchase Analysis (age)[Final]:
age_purchase_analysis_final = pd.concat([age_demo_counts, age_average_final, 
                                         age_total_price_final, age_normalized], axis=1)

In [33]:
age_purchase_analysis_final.columns=['Purchase Count',
                                     'Average Purchase Price',
                                     'Total Purchase Price',
                                     'Normalized Totals']
age_purchase_analysis_final

,Purchase Count,Average Purchase Price,Total Purchase Price,Normalized Totals
10-14,31,$2.70,$83.79,$2.70
15-19,133,$2.91,$386.42,$2.91
20-24,336,$2.91,$978.77,$2.91
25-29,125,$2.96,$370.33,$2.96
30-34,64,$3.08,$197.25,$3.08
34-39,42,$2.84,$119.40,$2.84
40+,17,$3.16,$53.75,$3.16
<10,32,$3.02,$96.62,$3.02

In [34]:
#Top Spenders
top_5_spenders_count = purchase_data_df['SN'].value_counts()
top_5_spenders_count.head()

Undirrala66    5
Mindimnya67    4
Hailaphos89    4
Sondastan54    4
Saedue76       4
Name: SN, dtype: int64

In [35]:
top_5 = purchase_data_df.groupby("SN")
top_5_total = top_5['Price'].sum()
top_5_highest_total = top_5_total.sort_values(ascending=False).head()

In [36]:
top_5_sn_df = pd.concat([top_5_highest_total],axis=1)
top_5_sn_df.columns = ['Total Purchase Value']
top_5_sn_df

             Total Purchase Value
SN
Undirrala66                $17.06
Saedue76                   $13.56
Mindimnya67                $12.74
Haellysu29                 $12.73
Eoda93                     $11.58

In [37]:
#Most Popular Items
purchase_item_counts = purchase_data_df['Item Name'].value_counts()
top_5_purchases = purchase_item_counts.head()

In [38]:
popular_df = pd.concat([top_5_purchases],axis=1)
popular_df.columns=['Item Count']
popular_df

                                      Item Count
Final Critic                                  14
Betrayal, Whisper of Grieving Widows          11
Arcane Gem                                    11
Stormcaller                                   10
Woeful Adamantite Claymore                     9

In [39]:
#Most Profitable Items
top_5_item_profit = purchase_data_df.groupby("Item Name")
top_5_item_profit_total = top_5_item_profit['Price'].sum()
top_5_profitable_items_total = top_5_item_profit_total.sort_values(ascending=False).head()

In [40]:
profitable_items = pd.concat([top_5_profitable_items_total], axis=1)
profitable_items.columns=['Total Purchase Value']
profitable_items

                            Total Purchase Value
Item Name
Final Critic                              $38.60
Retribution Axe                           $37.26
Stormcaller                               $34.65
Spectral Diamond Doomblade                $29.75
Orenmir                                   $29.70